@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <input class="search-input table-bordered mb-3 mt-3 p-1" placeholder="search products.."/>
            <button class="btn btn-secondary p-1" title="Search">search</button>
            <a id="cart" class="oi oi-cart m-3" href="cart" title="Your Cart"></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    <footer class="text-center text-secondary bg-light p-3">
        <p>This is an OnlineShop with Blazor in C# by Mia Chen & Emma Gabrielsson</p>
    </footer>
    </main>
</div>

@code {

}
