.cartItems-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartItemsList {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.card {
    background-color: rgb(247, 247, 247);
}

.added-card {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    display: block;
    max-width: 300px;
    max-height: 400px;
    margin: auto;
}

.card-title {
    padding-top: 0cm;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.card-text {
    font-size: large;
    text-align: center;
}

.list-group-item {
    text-align: end;
    font-size: larger;
    font-weight: bold;
}
