@page "/allproducts"
@using OnlineShop_CourseSubmission_CS.Components
@using OnlineShop_CourseSubmission_CS.Data
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject Data DataService

<PageTitle>OnlineShop - All Products</PageTitle>

<h3>Products</h3>

<ul>
    @if (products != null)
    {
        foreach (var item in products)
        {
            <li>
                <div>
                    @item.title
                </div>
            </li>
        }
    }
</ul>


@code {
    private Products[] products;
    protected override async Task OnInitializedAsync()
    {
        products = await DataService.GetAllProducts();
    }

}