@page "/jewelery"
@using OnlineShop_CourseSubmission_CS.Components
@using OnlineShop_CourseSubmission_CS.Data
@using System.Text.Json;
@using System.Text.Json.Serialization;
@inject Data DataService

<PageTitle>OnlineShop - Jewelery</PageTitle>


<h3>Products - Jewelery</h3>

<ul>
    @if (products != null)
    {
        foreach (var item in jeweleryProducts)
			{
				<div class="card" style="width: 18rem;">
					<img src=@item.image class="card-img-top" alt="products">
					<div class="card-body">
					<h5 class="card-title">@item.title</h5>
					<p class="card-text">@item.description</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			}
    }
</ul>


@code {
    private Products[] jeweleryProducts;
    private Products[] products;
    protected override async Task OnInitializedAsync()
    {
        products = await DataService.GetAllProducts();
        jeweleryProducts = products.Where<Products>(prod => prod.category == "jewelery").ToArray<Products>();
    }

}